/*Styles for main menu*/

div.cat-wrapper{
    height: 280px;
    margin-bottom: 20px;
    background-size: cover;
    background-repeat: no-repeat;
    display: flex;
    align-items: center;
}

div.cat-wrapper > div{
    width: 95%;
    margin: 0 auto;
}

div.cat-wrapper > div h3{
    background-color: #ffffffc2;
    text-align: center;
    padding: 6px 0;
}

.cat-heading{
    text-align: center;
}

div.cat-sub-menu.child{
    display: none;    
}
/*div.cat-menu-container{
    background-color: #3d5060;
    min-width: 280px;
    max-width: 300px;
}

.cat-menu-row h2.module-title{
    margin-bottom: 0px;
}

ul.cat-menu, ul.cat-sub-menu{
    list-style-type: none;
    margin: 0;
    padding: 0;
}

ul.cat-menu .child{
    display: none;
}

ul.cat-menu a {
    display: block;
    color: #FFFFFF;
    text-decoration: none;
    padding: 8px 15px;
    font-size:18px;
}

ul li.has-children{
    background: url('../img/right.png') 94% no-repeat;
}

ul.cat-menu li{
    position: relative;
}

ul li.has-children:hover > ul{
    display: block;
}

ul.cat-menu li{
    border-bottom: solid 1px rgba(255, 255, 255, 0.1);
}

div.products_shortcode{
    max-width: 800px;
    margin: 0 auto;
}

section#latest{
    background-color: #FFFFFF;
    background-image: linear-gradient(180deg, #FFFFFF 0%, #adb5ec 50%, #ffffff 100%);
}

.chevron-block{
    text-align: center; 
    font-size: 70px;
    margin-left: -25px;
    display: none;
}

i.animated-chev {
    -webkit-transition-property: -webkit-transform;
    -moz-transition-property: -moz-transform;
    -webkit-animation-name: pulse;
    -moz-animation-name: pulse;   
    -webkit-animation-iteration-count: infinite;
    -moz-animation-iteration-count: infinite;
    -webkit-animation-timing-function: linear;
    -moz-animation-timing-function: linear;
    width: 22px;
    color: #b00000;
}

i.animated-chev.chev-first{
    -moz-animation-duration: 1.5s;
    -webkit-transition-duration: 1s;
    -moz-transition-duration: 1s;
    -webkit-animation-duration: 1.5s;
    animation-delay: 0.2s;
}

i.animated-chev.chev-second{
    -moz-animation-duration: 1.5s;
    -webkit-transition-duration: 1s;
    -moz-transition-duration: 1s;
    -webkit-animation-duration: 1.5s;
    animation-delay: 0.15s;
}

i.animated-chev.chev-third{
    -moz-animation-duration: 1.5s;
    -webkit-transition-duration: 1s;
    -moz-transition-duration: 1s;
    -webkit-animation-duration: 1.5s;
}

@media screen and (min-width:990px){
    /*Category display for large screen
    .chevron-block{
        display: block;
    }

    ul.cat-menu .child{
        position: absolute;
        top: 0;
        right: -280px;    
        background: #3d5060;
        border-left: 1px solid rgba(255, 255, 255, 0.1);
        width: 280px;
        z-index: 9;
    }

    ul.cat-sub-menu{
        position: absolute;
    }
}

*/